<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css')}}"/> #}
    <title>Titre de la page</title>
</head>
<body>

<ol class="list-group"></ol>
    
</body>
</html>
